html{
    scroll-behavior: smooth;
}

.grid{
    display: grid;
    width: 90%;
    padding: 14px;
    gap: 15px;
    font-family: Cabin, sans-serif;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
}
.education, .hometown, .interests, .hobbies { 
    font-family: Cabin, sans-serif;
    color: #3F250B;
    border: 2px solid #3F250B;
    padding: 10px;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #3F250B;
    font-family: Cabin, sans-serif;
}

h2 {
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    font-family: Cabin, sans-serif;
    text-align: center;
    justify-content: center;
    padding: 15px;
    color: #3F250B;
    padding-top: 45px;
}

h3 {
    align-items: center;
}

p{
    text-align: center;
    justify-content: center;
    font-family: Cabin, sans-serif;
    padding: 10px;
    color: #3F250B;
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    font-family: Cabin, sans-serif;
    color: #ad0057;
}

.nav_links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    color: #ad0057;
    padding: 8px 9px 8px 9px;
    display: inline;
    width: 90%;
    border-radius: 15px;
    line-height: 1.2;
}

.nav_item {
    color: #ad0057;
}

.nav_links a:hover{
    font-weight: bolder;
    font-size:larger;
}

.nav_links .selected{
    font-weight: bolder;
    background-color: #ffe9ec;
    text-transform: uppercase;
    font-size: 25px;
}
:visited{
    color: #ad0057;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  a.skip:focus{
    top:20px;
    color: #ad0057;
    text-decoration-style: solid;
  }

header { 
    background-color: #ffb6c1;
    font-family: Cabin, sans-serif;
    color: #3F250B;
    height: 250px;
    width: 100%;
    padding-bottom: 10px;
}

body{
    background-color: #ffe9ec;
}

footer {
    background-color: #ad0057;
}

footer p{
    color: #ffffff;
    font-weight: bold;
    font-family: Cabin, sans-serif;
}

footer a:link{
    color: #ffffff;
    font-weight: bold;
    font-family: Cabin, sans-serif;
}

footer a:visited{
    color: #ffffff;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 50%;
    height: 300px;
    width: 250px; 
    border-radius: 15px;
    padding: 14px;
    border: 2px solid #ad0057;
    animation-name: img;
    animation-duration: 1s;
    animation-direction: alternate;
      animation-iteration-count:infinite;
}

@keyframes img {
    from { transform: translate3d(0, 0, 0);}
    to { transform: translate3d(0, 15px, 0);}
  }

.grid_pics {
    display: grid;
    width: 90%;
    gap: 10px;
    font-family: Cabin, sans-serif;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: auto auto auto auto auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box1 {
    background: url(../images/dog.jpg);
}
.box2 {
    background: url(../images/my_family.jpg);
}
.box3 {
    background: url(../images/friends.jpg);
}
.box4 {
    background: url(../images/chicago.jpg);
}
.box5 {
    background: url(../images/bighouse.jpg); 
}
.box6 {
    background: url(../images/beach.jpg);
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    grid-column: 1/6;
    border-radius: 15px;
    background-size: cover;
    border: solid 2px #ad0057;
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
}

.box1 p, .box2 p, .box3 p, .box4 p, .box5 p, .box6 p {
    font-family: Cabin, sans-serif;
    color: #ffffff;
    background-color: #ad0057;
    border-radius: 15px;
}

.grid_of_food{
    display:grid;
    width: 90%;
    gap: 10px;
    font-family: Cabin, sans-serif;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item {
    border-radius: 15px;
    border: solid 2px #ad0057;
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/9;
}

.food1 p, .food2 p, .food3 p, .food4 p, .food5 p, .food6 p, .food7 p, .food8 p, .food9 p {
    opacity: 0;
}

.food1 p:hover, .food2 p:hover, .food3 p:hover, .food4 p:hover, .food5 p:hover, .food6 p:hover, .food7 p:hover, .food8 p:hover, .food9 p:hover{
    background-color: #ad0057;
    color: #ffffff;
    font-size: 23px;
    opacity: 1;
    border-radius: 10px;
    height: 93%;
    align-items: center;
}

.food1 {
    background: url(../images/bagel.jpg);
    background-size: cover;
}
.food2 {
    background: url(../images/charcuterie.jpg);
    background-size: cover;
}
.food3 {
    background: url(../images/crispy_rice.jpg);
    background-size: cover;
}
.food4 {
    background: url(../images/donuts.jpg);
    background-size: cover;
}
.food5 {
    background: url(../images/lobster_roll.jpg);
    background-size: cover;
}
.food6 {
    background: url(../images/paella.jpg);
    background-size: cover;
}
.food7 {
    background: url(../images/pasta.jpg);
    background-size: cover;
}
.food8 {
    background: url(../images/pizza.jpg);
    background-size: cover;
}
.food9 {
    background: url(../images/sushi.jpg);
    background-size: cover;
}

.flip-card {
    background-color: transparent;
	width: 300px;
	height: 100px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
    height: 100%;
	-webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: #ad0057;
    border: solid 5px white;
    border-radius: 15px;
    align-items: center;
    color: white;
    font-family: "Cabin", 'serif';
    font-size: 30px;
    text-align: center;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:white;
    border: solid 5px #ad0057;
	border-radius: 15px;
	color: #ad0057;
    transform: rotateY(180deg);
    font-family: "Cabin", 'serif';
    font-size: 30px;
  }

input[type=text], select, textarea {
	width: auto; 
    padding: 40px;
	border: 1px solid #ccc;
	border-radius: 4px; 
	box-sizing: 20px; 
	margin-top: 10px; 
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
    resize: vertical horizontal;
	align-items: center;
    display: block;
    width: 100px;
}
#country{
    padding: 15px;
}

/* making the submit button look pretty */
input[type=submit] {
    background-color: white;
	color: #ad0057;
	padding: 12px 20px;
	border: #ad0057;
	border-radius: 4px;
    cursor: pointer;
    font-family: "Cabin", 'serif';
}

/* hovering over the submit button */
input[type=submit]:hover {
	background-color: #ad0057;
    color: white;
    font-family: "Cabin", 'serif';
    font-weight: bolder;
}

.container_contact{
	border-radius: 5px;
	background-color: #ffe9ec;
	padding: 10px;
	background-size: cover;       
	color: #ad0057;
    height: 620px;             
	margin-bottom: 10px;   
	text-align: center;
	justify-content: center;
    align-self: center;
    font-family: Cabin, sans-serif;
}
.parallax{
    background-image: url(../images/contact.jpg);
    background-attachment: fixed;
    background-position: center; 
    background-size: cover; 
    height: 400px;  
    width: auto;
}

/*tablet view*/
@media screen and (min-width: 760px) {
    .grid_pics {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 100%;
        width: 95%;
    }
    img{
        float:left;
        margin-left: 20px;
    }
    #aboutme{
        text-align: right;
    }
    .box1 {
        grid-row: 1;
        grid-column: 1;
    }
    .box2 {
        grid-row: 1;
        grid-column: 2;
    }
    .box3{
        grid-row: 1;
        grid-column: 3;
    }
    .box4{
        grid-row: 2;
        grid-column: 1;
    }
    .box5{
        grid-row: 2;
        grid-column: 2;
    } 
    .box6{
        grid-row: 2;
        grid-column: 3;
    }

    .pic{
        height: 215px;
        width: 215px;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    p {
        display: flex;
        flex-wrap: wrap;
    }
    .grid_of_food {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 100%;
        width: 95%;
    }
    .food1 {
        grid-row: 1;
        grid-column: 1;
    }
    .food2 {
        grid-row: 1;
        grid-column: 2;
    }
    .food3 {
        grid-row: 1;
        grid-column: 3;
    }
    .food4 {
        grid-row: 2;
        grid-column: 1;
    }
    .food5 {
        grid-row: 2;
        grid-column: 2;
    }
    .food6 {
        grid-row: 2;
        grid-column: 3;
    }
    .food7 {
        grid-row: 3;
        grid-column: 1;
    }
    .food8 {
        grid-row: 3;
        grid-column: 2;
    }
    .food9 {
        grid-row: 3;
        grid-column: 3;
    }
    footer{
        width: 100%;
    }
    .item {
        height: 225px;
        width: 225px;
    }
    header{
        height: 175px;
        width: 100%;
    }
    .grid{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    input[type=text], select, textarea {
        width: 300px;
        padding: 50px;
    }
}
/*Laptop View*/
@media screen and (min-width: 950px){
    .grid_pics{
        display: grid;
        grid-column: auto auto auto auto;
        grid-row: auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 100%;
        width: 95%;
    }
    .pic{
        width: 200px;
        height: 200px;
    }
    .box1 {
        grid-row: 1;
        grid-column: 1;
    }
    .box2 {
        grid-row: 1;
        grid-column: 2;
    }
    .box3{
        grid-row: 1;
        grid-column: 3;
    }
    .box4{
        grid-row: 1;
        grid-column: 4;
    }
    .box5{
        grid-row: 2;
        grid-column: 2;
    } 
    .box6{
        grid-row: 2;
        grid-column: 3;
    }
    header{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .item {
        height: 300px;
        width: 300px;
    }  
}
/*reduced motion*/
@media screen and (prefers-reduced-motion: reduce){
    img{
      animation: none;
    } 
/* Turn Parallax effect off */
    .parallax{
        background-attachment: scroll; 
    }
/* Turn Flip card off */
    .flip-card:hover .flip-card-inner{
        transition: transform none;
        transform: none;
    }
/* Turn hovering descriptions off */
    .food1 p:hover, .food2 p:hover, .food3 p:hover, .food4 p:hover, .food5 p:hover, .food6 p:hover, .food7 p:hover, .food8 p:hover, .food9 p:hover{
        background: transparent;
        font-size: 0px;
        opacity: 0;
    }
}
